.bg-color {
    background-color: #F8F8F8;
   border-radius: 5px;
}
.calculate{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculate1{
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: 50px;
}
.input{
    border: none;
    background-color:#DCDCDC;
    border-radius: 2px;   
}
.notify{
    display: none;
}